Repository linebender/vello, pull requests merged in 2025-09, with the labels that each got.

#1201 Add skipping the GPU tests to some tests
  vello_tests/tests/known_issues.rs
  vello_tests/tests/regression.rs
Labels: C-classic

#1217 fix transform handling in sparse_strips recording API
  sparse_strips/vello_common/src/recording.rs
  sparse_strips/vello_cpu/src/render.rs
  sparse_strips/vello_hybrid/examples/scenes/src/svg.rs
  sparse_strips/vello_hybrid/examples/scenes/src/text.rs
  sparse_strips/vello_hybrid/src/scene.rs
  sparse_strips/vello_sparse_tests/snapshots/glyph_recording_outside_transform.png
  sparse_strips/vello_sparse_tests/snapshots/recording_can_be_cleared.png
  sparse_strips/vello_sparse_tests/snapshots/recording_can_be_repeatedly_executed_in_layers.png
  sparse_strips/vello_sparse_tests/snapshots/recording_handles_offscreen_content.png
  sparse_strips/vello_sparse_tests/snapshots/recording_is_executed_at_recorded_transform.png
  sparse_strips/vello_sparse_tests/snapshots/recording_is_executed_with_multiple_transforms.png
  sparse_strips/vello_sparse_tests/snapshots/recording_mixed_with_direct_drawing.png
  sparse_strips/vello_sparse_tests/tests/recording.rs
  sparse_strips/vello_sparse_tests/tests/renderer.rs
Labels: C-sparse-strips

#1215 Glyph Caches: Hinting Instances + Outline Paths
  Cargo.lock
  sparse_strips/vello_bench/Cargo.toml
  sparse_strips/vello_bench/README.md
  sparse_strips/vello_bench/benches/main.rs
  sparse_strips/vello_bench/src/glyph.rs
  sparse_strips/vello_bench/src/lib.rs
  sparse_strips/vello_common/Cargo.toml
  sparse_strips/vello_common/src/glyph.rs
  sparse_strips/vello_common/src/recording.rs
  sparse_strips/vello_cpu/src/render.rs
  sparse_strips/vello_hybrid/src/scene.rs
  sparse_strips/vello_sparse_tests/tests/renderer.rs
Labels: C-hybrid, C-cpu, C-sparse-strips

#1238 Pack `fill_gap` into `alpha_idx`
  sparse_strips/vello_common/src/coarse.rs
  sparse_strips/vello_common/src/strip.rs
  sparse_strips/vello_cpu/src/render.rs
  sparse_strips/vello_hybrid/src/scene.rs
  sparse_strips/vello_toy/src/debug.rs
Labels: C-sparse-strips

#1241 [sparse strips] Remove `GlyphRenderer` dead code in tests
  sparse_strips/vello_sparse_tests/tests/renderer.rs
Labels: C-sparse-strips

#1236 refact: create `vello_example_scenes` crate with common examples
  Cargo.lock
  Cargo.toml
  examples/with_winit/Cargo.toml
  sparse_strips/vello_cpu/examples/wasm_cpu/Cargo.toml
  sparse_strips/vello_cpu/examples/wasm_cpu/src/lib.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/clip.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/image.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/mod.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/svg.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/text.rs
  sparse_strips/vello_example_scenes/Cargo.toml
  sparse_strips/vello_example_scenes/LICENSE-APACHE
  sparse_strips/vello_example_scenes/LICENSE-MIT
  sparse_strips/vello_example_scenes/README.md
  sparse_strips/vello_example_scenes/src/blend.rs
  sparse_strips/vello_example_scenes/src/clip.rs
  sparse_strips/vello_example_scenes/src/gradient.rs
  sparse_strips/vello_example_scenes/src/image.rs
  sparse_strips/vello_example_scenes/src/lib.rs
  sparse_strips/vello_example_scenes/src/path.rs
  sparse_strips/vello_example_scenes/src/simple.rs
  sparse_strips/vello_example_scenes/src/svg.rs
  sparse_strips/vello_example_scenes/src/text.rs
  sparse_strips/vello_hybrid/examples/native_webgl/Cargo.toml
  sparse_strips/vello_hybrid/examples/native_webgl/src/lib.rs
  sparse_strips/vello_hybrid/examples/scenes/src/blend.rs
  sparse_strips/vello_hybrid/examples/scenes/src/lib.rs
  sparse_strips/vello_hybrid/examples/scenes/src/simple.rs
  sparse_strips/vello_hybrid/examples/wgpu_webgl/Cargo.toml
  sparse_strips/vello_hybrid/examples/wgpu_webgl/src/lib.rs
  sparse_strips/vello_hybrid/examples/winit/Cargo.toml
  sparse_strips/vello_hybrid/examples/winit/src/main.rs
Labels: C-sparse-strips

#1229 Put wgpu's default features behind a 'wgpu_default' feature flag
  CHANGELOG.md
  Cargo.toml
  sparse_strips/vello_cpu/examples/wasm_cpu/Cargo.toml
  sparse_strips/vello_hybrid/Cargo.toml
  sparse_strips/vello_hybrid/examples/wgpu_webgl/Cargo.toml
  sparse_strips/vello_hybrid/examples/winit/Cargo.toml
  sparse_strips/vello_sparse_tests/Cargo.toml
  vello/Cargo.toml
  vello/src/wgpu_engine.rs
Labels: C-classic, C-hybrid

#1239 Prepare `vello_cpu` v0.0.2 release
  Cargo.lock
  Cargo.toml
  sparse_strips/vello_common/Cargo.toml
  sparse_strips/vello_cpu/Cargo.toml
Labels: C-cpu
