Repository linebender/vello, pull requests merged in 2025-06, with the labels that each got.

#1065 [vello_sparse_tests] Add vello_cpu scalar test coverage on WASM
  sparse_strips/vello_dev_macros/src/test.rs
  sparse_strips/vello_sparse_tests/README.md
  sparse_strips/vello_sparse_tests/tests/image.rs
  sparse_strips/vello_sparse_tests/tests/mix.rs
  sparse_strips/vello_sparse_tests/tests/mod.rs
  sparse_strips/vello_sparse_tests/tests/util.rs
Labels: C-cpu, testing

#1070 wasm hybrid examples: consolidate repetitive `target_arch` `cfg`
  sparse_strips/vello_hybrid/examples/native_webgl/src/lib.rs
  sparse_strips/vello_hybrid/examples/native_webgl/tests/webgl.rs
  sparse_strips/vello_hybrid/examples/wgpu_webgl/src/lib.rs
  sparse_strips/vello_hybrid/examples/wgpu_webgl/tests/webgl.rs
Labels: C-hybrid

#1062 Add smoke test for layer size
  vello_tests/snapshots/smoke/layer_size.png
  vello_tests/tests/known_issues.rs
Labels: C-classic, testing

#1071 fix: sparse_strips scalar WASM build containing SIMD instructions
  Cargo.lock
  Cargo.toml
  sparse_strips/vello_sparse_tests/Cargo.toml
  sparse_strips/vello_sparse_tests/tests/mod.rs
  sparse_strips/vello_sparse_tests/tests/wasm_binary_invariants.rs
Labels: C-sparse-strips

#1069 Add benchmarks for flattening and stroke expansion
  sparse_strips/vello_bench/benches/main.rs
  sparse_strips/vello_bench/src/data.rs
  sparse_strips/vello_bench/src/flatten.rs
  sparse_strips/vello_bench/src/lib.rs
  sparse_strips/vello_common/src/flatten.rs
Labels: performance, C-sparse-strips
