Repository linebender/vello, pull requests merged in 2025-07, with the labels that each got.

#1081 Make Dispatchers Send + Sync
  sparse_strips/vello_cpu/src/dispatch/mod.rs
Labels: C-cpu

#1076 [vello_cpu]: add WASM vello_cpu examples
  Cargo.lock
  Cargo.toml
  sparse_strips/vello_cpu/examples/wasm_cpu/Cargo.toml
  sparse_strips/vello_cpu/examples/wasm_cpu/README.md
  sparse_strips/vello_cpu/examples/wasm_cpu/src/lib.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/main.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/clip.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/image.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/mod.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/simple.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/svg.rs
  sparse_strips/vello_cpu/examples/wasm_cpu/src/scenes/text.rs
Labels: C-cpu

#1086 feat(vello_hybrid): Add clipping support for image rendering
  sparse_strips/vello_hybrid/examples/scenes/src/image.rs
  sparse_strips/vello_hybrid/src/render/common.rs
  sparse_strips/vello_hybrid/src/scene.rs
  sparse_strips/vello_hybrid/src/schedule.rs
  sparse_strips/vello_sparse_shaders/shaders/render_strips.wgsl
  sparse_strips/vello_sparse_tests/snapshots/image_with_multiple_clip_layers.png
  sparse_strips/vello_sparse_tests/tests/image.rs
Labels: C-hybrid

#1087 Optimise the size of Vello (Classic) test snapshots using oxipng
  Cargo.lock
  vello_tests/Cargo.toml
  vello_tests/snapshots/big_bitmap.png
  vello_tests/snapshots/big_bitmap_apple.png
  vello_tests/snapshots/big_colr.png
  vello_tests/snapshots/bitmap_undef.png
  vello_tests/snapshots/blurred_rounded_rect.png
  vello_tests/snapshots/colr_undef.png
  vello_tests/snapshots/deep_blend.png
  vello_tests/snapshots/fill_types.png
  vello_tests/snapshots/funky_paths.png
  vello_tests/snapshots/gradient_extend.png
  vello_tests/snapshots/image_extend_modes_bilinear.png
  vello_tests/snapshots/image_extend_modes_nearest_neighbor.png
  vello_tests/snapshots/image_sampling.png
  vello_tests/snapshots/integer_translation.png
  vello_tests/snapshots/little_bitmap.png
  vello_tests/snapshots/little_colr.png
  vello_tests/snapshots/longpathdash_butt.png
  vello_tests/snapshots/many_clips.png
  vello_tests/snapshots/non_integer_translation.png
  vello_tests/snapshots/rounded_rectangle_watertight.png
  vello_tests/snapshots/scaled_hinted.png
  vello_tests/snapshots/simple_hinted.png
  vello_tests/snapshots/smoke/data_image_roundtrip.png
  vello_tests/snapshots/smoke/filled_circle.png
  vello_tests/snapshots/smoke/filled_square.png
  vello_tests/snapshots/smoke/layer_size.png
  vello_tests/snapshots/smoke/two_emoji.png
  vello_tests/snapshots/splash.png
  vello_tests/snapshots/stroke_styles.png
  vello_tests/snapshots/stroke_styles_non_uniform.png
  vello_tests/snapshots/stroke_styles_skew.png
  vello_tests/snapshots/tricky_strokes.png
  vello_tests/src/compare.rs
  vello_tests/src/lib.rs
  vello_tests/src/snapshot.rs
Labels: C-classic

#1093 No shader runtime checks
  vello/src/wgpu_engine.rs
  vello_tests/tests/known_issues.rs
Labels: performance, C-classic

#1106 Optimize blending with default blend mode
  sparse_strips/vello_cpu/src/fine/mod.rs
Labels: C-cpu

#1102 Partly SIMDify the `f32_to_u8` method
  sparse_strips/vello_cpu/src/fine/mod.rs
Labels: C-cpu, C-sparse-strips

#1105 Ignore NaN paths
  Cargo.lock
  sparse_strips/vello_common/Cargo.toml
  sparse_strips/vello_common/src/flatten.rs
Labels: C-sparse-strips

#1109 [vello_hybrid] add debug assertion to enforce correct WebGl context attributes
  sparse_strips/vello_hybrid/Cargo.toml
  sparse_strips/vello_hybrid/src/render/webgl.rs
Labels: C-hybrid

#1122 [vello_hybrid] Add opacity layers
  sparse_strips/vello_dev_macros/src/test.rs
  sparse_strips/vello_hybrid/src/scene.rs
  sparse_strips/vello_hybrid/src/schedule.rs
  sparse_strips/vello_sparse_shaders/shaders/render_strips.wgsl
  sparse_strips/vello_sparse_tests/snapshots/image_with_opacity.png
  sparse_strips/vello_sparse_tests/tests/image.rs
  sparse_strips/vello_sparse_tests/tests/renderer.rs
Labels: C-hybrid

#1132 Fix panic when painting after calling flush
  sparse_strips/vello_cpu/src/dispatch/multi_threaded.rs
  sparse_strips/vello_cpu/src/render.rs
  sparse_strips/vello_sparse_tests/tests/issues.rs
Labels: C-cpu

#1120 Add test for (destructive) blend clip
  sparse_strips/vello_dev_macros/src/test.rs
  sparse_strips/vello_sparse_tests/snapshots/clip_clear.png
  sparse_strips/vello_sparse_tests/tests/issues.rs
Labels: C-cpu
